.pie_de_pagina {
    background-color: map-get($estilos, primary);
    display: map-get($estilos, display);
    padding: map-get($estilos, padding);
    width: map-get($estilos, width);
}
.pie_de_pagina-section-1 {
    width: 100%;
    display: flex;
}
.pie_de_pagina-section-1 p {
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 20px;
    justify-content: start;
}
.pie_de_pagina-section-1 h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
.pie_de_pagina-section-1 h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
/*---------------------RESPONSIVE TABLET-------------------*/
@media  screen and  (max-width: 768px) {
    .pie_de_pagina {
        background-color: $primary;
        flex-direction: column;
        padding: 25px;
        align-items: center;
        
    }
    .pie_de_pagina-section-1 {
        width: 100%;
        display: flex;
        text-align: center;
    }
    p {
        width: 100%;
        color: #ffffff;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-top: 20px;
    }
    .pie_de_pagina-section-1 p {
        width: 100%;
        color: #ffffff;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-top: 20px;
        justify-content: center;
    }
    .pie_de_pagina-section-2 {
        width: 100%;
        justify-content: center;
        padding-top: 25px;
    }
    .botones {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}
/*-------------------RESPONSIVE MOVIL----------------------*/
@media  screen and  (max-width: 380px) {
    .pie_de_pagina-section-1 {
        width: 100%;
        display: flex;
        text-align: center;
    }
    p {
        width: 100%;
        color: #ffffff;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-top: 20px;
    }
    .pie_de_pagina-section-2 {
        width: 100%;
        justify-content: center;
        padding-top: 25px;
    }
    .botones {
        width: 100%;
        text-align: center;
    }
}