.pie_de_pagina {
    background-color: #42A4FF;
    display: flex;
    padding: 25px;
    width: 100%;
}
.pie_de_pagina-section-1 {
    width: 100%;
    display: flex;
}
p {
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 20px;
}
.pie_de_pagina-section-2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
/*---------------------RESPONSIVE TABLET-------------------*/
@media  screen and  (max-width: 768px) {
    .pie_de_pagina {
        background-color: #42A4FF;
        flex-direction: column;
        padding: 25px;
        align-items: center;
        
    }
    .pie_de_pagina-section-1 {
        width: 100%;
        display: flex;
        text-align: center;
    }
    p {
        width: 100%;
        color: #ffffff;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-top: 20px;
    }
    .pie_de_pagina-section-2 {
        width: 100%;
        justify-content: center;
        padding-top: 25px;
    }
}
/*-------------------RESPONSIVE MOVIL----------------------*/
@media  screen and  (max-width: 380px) {
    .pie_de_pagina-section-1 {
        width: 100%;
        display: flex;
        text-align: center;
    }
    p {
        width: 100%;
        color: #ffffff;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-top: 20px;
    }
    .pie_de_pagina-section-2 {
        width: 100%;
        justify-content: center;
        padding-top: 25px;
    }
}