.cabecera {
  background-color: #42A4FF;
  display: flex;
  padding: 25px;
}

.cabecera_nav {
  width: 100%;
}
.cabecera_nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.cabecera_nav li {
  margin-left: 15px;
}
.cabecera_nav a {
  color: #ffffff;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.cabecera_nav a:hover {
  color: #FF4286;
}

/*---------------------RESPONSIVE TABLET-------------------*/
@media screen and (max-width: 768px) {
  .cabecera {
    background-color: #42A4FF;
    flex-direction: column;
    padding: 25px;
    align-items: center;
  }
  .cabecera_nav {
    width: 100%;
  }
  ul {
    width: 100%;
    list-style-type: none;
    margin-top: 20px;
    justify-content: center;
  }
  a {
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
}
/*-------------------RESPONSIVE MOVIL----------------------*/
@media screen and (max-width: 380px) {
  .cabecera {
    background-color: #42A4FF;
    flex-direction: column;
    padding: 25px;
    align-items: center;
  }
  .cabecera_nav {
    width: 100%;
  }
  ul {
    width: 100%;
    list-style-type: none;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  a {
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
}
.grids {
  display: grid;
  grid-template-rows: 122px 100% 122px;
}

.contenido {
  background-color: #FF4286;
  padding-top: 75px;
  padding-bottom: 75px;
}

.contenido-section_1 {
  position: absolute;
  z-index: 1;
  margin-top: 200px;
  margin-left: 50px;
  color: #181616;
}

h2 {
  font-size: 45px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.contenido-section_2 {
  position: absolute;
  z-index: 1;
  margin-top: 280px;
  margin-left: 50px;
  padding-top: 40px;
  color: #181616;
}

ul {
  margin-left: 25px;
  color: #000000;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

/*---------------------RESPONSIVE TABLET-------------------*/
@media screen and (max-width: 768px) {
  .contenido-section_1 {
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    margin-left: 50px;
    color: #181616;
  }
  h2 {
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .contenido-section_2 {
    position: absolute;
    z-index: 1;
    margin-top: 110px;
    margin-left: 50px;
    padding-top: 40px;
    color: #181616;
  }
}
/*-------------------RESPONSIVE MOVIL----------------------*/
@media screen and (max-width: 380px) {
  .contenido-section_1 {
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    margin-left: 50px;
    color: #181616;
  }
  h2 {
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .contenido-section_2 {
    position: absolute;
    z-index: 1;
    margin-top: 110px;
    margin-left: 50px;
    padding-top: 40px;
    color: #181616;
  }
  h3 {
    font-size: 16px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
  }
}
.pie_de_pagina {
  background-color: #42A4FF;
  display: flex;
  padding: 25px;
  width: 100%;
}

.pie_de_pagina-section-1 {
  width: 100%;
  display: flex;
}

p {
  width: 100%;
  color: #ffffff;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-top: 20px;
}

.pie_de_pagina-section-2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/*---------------------RESPONSIVE TABLET-------------------*/
@media screen and (max-width: 768px) {
  .pie_de_pagina {
    background-color: #42A4FF;
    flex-direction: column;
    padding: 25px;
    align-items: center;
  }
  .pie_de_pagina-section-1 {
    width: 100%;
    display: flex;
    text-align: center;
  }
  p {
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 20px;
  }
  .pie_de_pagina-section-2 {
    width: 100%;
    justify-content: center;
    padding-top: 25px;
  }
}
/*-------------------RESPONSIVE MOVIL----------------------*/
@media screen and (max-width: 380px) {
  .pie_de_pagina-section-1 {
    width: 100%;
    display: flex;
    text-align: center;
  }
  p {
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 20px;
  }
  .pie_de_pagina-section-2 {
    width: 100%;
    justify-content: center;
    padding-top: 25px;
  }
}/*# sourceMappingURL=styles.css.map */